---
---

@import "variables";

.aboutImage {
    margin-bottom: 2em;

    img {
        max-height: 200px;
        max-width: 200px;
        border-radius: 15px;
    }

    @include mobile {
        text-align: center;
    }
}