---
---

@import "variables";

//
// CSS for /blog and /by-category pages
//

.other-blogging {
  margin-top: 3em;
  margin-left: 1em;
  //text-align: right;
  
  h5 {
    a {
      line-height: 0.1;
      font-size: 16px;
    }
  }

  @include mobile {
    margin-top: 0em;
    text-align: center;
  }
}

.post-entry {
  padding: 0em 0em 1.4em;
  margin-left: 1em;

    @include mobile {
      //text-align: center;
      margin-left: 0em;
    }
}

.post-link {
  padding-bottom: 3px;
  a {
    font-family: $defaultSerif;
    font-size: 20px;
    @include mobile {
      font-size: 18px;
    }
  }
}

.post-category {
  padding-top: 3px;
  font-family: $defaultSerif;
  font-size: 14px;
  color: $gray;
  @include mobile {
    font-size: 16px;
  }
}

.post-date {
  padding-top: 3px;
  font-family: $defaultSansSerif;
  font-size: 14px;
  color: $gray;
  @include mobile {
    font-size: 16px;
  }
}