---
---

@import "variables";

ul {
    margin-bottom: 80px;

    @include mobile {
        padding: 0px; // remove ul white space on mobile devices
    }
}

ul > a {
    display: inline-block;
    width: 280px;
    height: 5em;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 20px;
    border: 2px solid $lightestGray;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    li {
        list-style: none;
        font-family: $defaultSansSerif;
        font-size: 24px;
        font-weight: 300;
        color: $darkBlue;
        width: 220px; // 100%;
    }

    &:hover, &:active {
        border: 2px solid $darkBlue;
        text-decoration: none;

        @include mobile {
            color: $white;
            background-color: $darkBlue;
        }

        li {
            color: inherit;
            text-decoration: inherit;
        }
    }

    @include mobile {
        display: block;
        width: 220px;
        height: 4em;
        display: table; // center divs in mobile view (IE8 compatible)
        text-align: center;
        margin: 0.5em auto; // center divs in mobile view (IE8 compatible)
    }
}

