---
layout: page
title: Blog
permalink: /blog/categories/
show_title: true
custom_css: "pages/blog"
in_search: false
---


<div>

  {% include blog/blog-nav.html %}

  <div>
  {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
      {% assign categoryName = category[0] %}
      {% assign categoryId = categoryName | downcase | replace:' ','-' | replace: '.','-' %}
      {% assign postsInCategory = category[1] %}
      <div class="blog-entry">
        <span class="blog-entry-link">
          <a href="{{ site.baseurl }}/blog/categories/{{ categoryId }}">{{ categoryName }}</a>
        </span>
        <span class="blog-entry-details">
          {% if postsInCategory.size == 1 %}
           &#183; {{ postsInCategory.size }} post
          {% else %}
           &#183; {{ postsInCategory.size }} posts
          {% endif %}
        </span>
      </div>
    {% endfor %}

  </div>
</div>
