---
layout: page
title: Blog
permalink: /blog/tags/
show_title: true
custom_css: "pages/blog"
---


<div>
  <div class="blog-page-options">
    <h5><a href="{{ site.baseurl }}/blog">Timeline</a> / <a href="{{ site.baseurl }}/blog/categories">Categories</a> / Tags</h5>
  </div>
  <div class="line-separator"></div>
  <br>

  <div>
    {% assign sorted_tags_by_name = site.tags | sort_tags_by_name %}
    {% for tag in sorted_tags_by_name %}
      <div class="blog-entry">
        <span class="blog-entry-link">
          {% assign i = tag[0] | downcase | replace:' ','-' %}
          <a href="{{ site.baseurl }}/blog/tags/{{ i }}">{{ tag[0] }}</a>
        </span>
        <span class="blog-entry-details">
          {% if tag[1] == 1 %}
           &#183; {{ tag[1] }} post
          {% else %}
           &#183; {{ tag[1] }} posts
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
