---
layout: page
title: Blog
permalink: /blog/tags/
show_title: true
custom_css: "pages/blog"
in_search: false
---


<div>

  {% include blog/blog-nav.html %}

  <div>
    {% assign sorted_tags_by_name = site.tags | sort_tags_by_name %}
    {% for tag in sorted_tags_by_name %}
    {% assign tagName = tag[0] %}
    {% assign tagId = tagName | downcase | replace:' ','-' | replace: '.','-' %}
    {% assign numberOfpostsWithTag = tag[1] %}
      <div class="blog-entry">
        <span class="blog-entry-link">
          <a href="{{ site.baseurl }}/blog/tags/{{ tagId }}">{{ tagName }}</a>
        </span>
        <span class="blog-entry-details">
          {% if numberOfpostsWithTag == 1 %}
           &#183; {{ numberOfpostsWithTag }} post
          {% else %}
           &#183; {{ numberOfpostsWithTag }} posts
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
