---
layout: default
permalink: /
custom_css: "pages/home"
is_home: truem
show_title: false
in_search: false
---

  <div class="cover">
    <div class="container reading_container">
      <!-- header info -->
      <div class="headText">
        <div class="userAvatarPlate userAvatar">
          <img src="{{ site.avatar | prepend: site.baseurl }}" width="120px;">
        </div>
        <div class="helloText">Hi, I'm</div>
        <div class="nameText">{{ site.name }}</div>
        <div class="infoText">
          {% include_relative home-info-text.html %}
        </div>
        <div class="social-icons social-icons-medium home-social center">
          {% if site.footersocial %}
            {% include social-icons.html %}
          {% endif %}
        </div>
        <div class="desktop-hidden smallscreen-hidden">
          <a class="btn btn-medium btn-default btn-no-text-decoration btn-wide-60 center" href="{{ site.baseurl }}/contacts">Get in touch</a>
        </div>
        <div class="scrolldown desktop-hidden smallscreen-hidden"><a href="#posts"><img src="{{ site.baseurl }}/assets/icons/down-arrow.svg"></a></div>
      </div>
      <!-- end of header info -->
      <!-- content section -->

        <div class="sectionTitle">Latest blog posts</div>
        {% for post in site.posts limit: site.home.max_posts %}
          <div class="news newsEntry">
            <span class="news newsTitle"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
            <div class="newsDate">{{ post.date | date: "%d %B %Y" }}</div>
              {% if site.home.show_excerpt %}
                  {% if post.subtitle %}
                    <br>
                    <div class="newsExcerpt">
                      {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                      <br><br>
                      <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
                    </div>
                  {% else %}
                    <div class="newsExcerpt">
                      {{ post.content | truncatehtml | truncatewords: 20 }}
                      <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
                    </div>
                  {% endif %}
              {% endif %}
          </div>
        {% endfor %}
        <p>
          <span class="low-links"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;&nbsp;<a class="grayLinks" href="{{ site.baseurl }}/blog/">All blog posts</a></span>
        </p>
        <div style="padding-top: 1em;">
          <div class="sectionTitle">Resources</div>
          <p>
            <ul>
              <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
              <li><a href="{{ site.baseurl }}/security">Security resources</a></li>
              <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
              <li><a href="{{ site.baseurl }}/events">Events</a></li>
              <li><a href="{{ site.baseurl }}/subscribe">Newsletter</a></li>
            </ul>
          </p>
        </div>

      <!-- content section -->
    </div>
  </div>
