---
layout: default
permalink: /
custom_css: "pages/home"
is_home: true
show_title: false
in_search: false
---

  <div class="cover">
    <div class="container reading_container">
      <!-- header info -->
      <div class="headText">
        <div class="userAvatarPlate userAvatar">
          <img src="{{ site.avatar | prepend: site.baseurl }}" width="120px;">
        </div>
        <div class="helloText">Hi, I'm</div>
        <div class="nameText">{{ site.name }}</div>
        <div class="infoText">
          {% include home/home-info-text.html %}
        </div>
        <div class="social-icons social-icons-medium home-social center">
          {% if site.footersocial %}
            {% include social-icons.html %}
          {% endif %}
        </div>
        <div class="desktop-hidden smallscreen-hidden">
          <a class="btn btn-medium btn-default btn-no-text-decoration btn-wide-60 center" href="{{ site.baseurl }}/contacts">Get in touch</a>
        </div>
        <div class="scrolldown desktop-hidden smallscreen-hidden"><a href="#posts"><img src="{{ site.baseurl }}/assets/icons/down-arrow.svg"></a></div>
      </div>
      <!-- end of header info -->
      <!-- content section -->

      <div id="posts">
        {% assign sortedPosts = site.posts | sort: 'most_recent_edit' | reverse %}
        {% for post in sortedPosts limit: site.home.max_posts %}
          <div class="news newsEntry">
            <span class="news newsTitle"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
            <div class="newsDate">
              {% if post.most_recent_update %}<i class="fa-solid fa-pen"/> Updated on {{ post.most_recent_update | date: "%B %-d, %Y" }}<br>{% endif %}
              {{ post.date | date: "%B %-d, %Y" }}
            </div>
              {% if site.home.show_excerpt %}
                  {% if post.subtitle %}
                    <div class="newsExcerpt">
                      {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                    </div>
                  {% endif %}
              {% endif %}
          </div>
        {% endfor %}
      </div>

      <div>
        <p>
          <span class="low-links">
            <a class="grayLinks" href="{{ site.baseurl }}/blog/">All blog posts</a>&nbsp;&nbsp;<i class="fa-solid fa-forward" aria-hidden="true"/>
          </span>
        </p>
      </div>

        <div class="resources">
          <div class="sectionTitle">More</div>
          {% capture resources_bottom %}{% include home/resources_bottom.md %}{% endcapture %}
          {{ resources_bottom | markdownify }}
        </div>

      <!-- content section -->
    </div>
  </div>
