---
layout: default
permalink: /
custom_css: "pages/home"
is_home: true
show_title: false
in_search: false
---

  <div class="cover">
    <div class="container">
        <div class="section group header">
          <div class="col span_4_of_12">
              <div class="headText">
                <div class="userAvatarPlate userAvatar">
                  <img src="{{ site.avatar }}" width="120px;">
                </div>
                <div class="helloText">Hi, I'm</div>
                <div class="nameText"><a href="{{ sita.baseurl }}/about">{{ site.name }}</a></div>
                <div class="infoText">
                  Java and Oracle developer at <a href="http://leonardocompany.com/en">Leonardo</a>.
                  <br>*NIX sysadmin and Python for passion.
                  <br><br>Know more <a href="{{ site.baseurl}}/about">about me</a>.
                  <br><br>Opinions are mine, here and on twitter.
                  <br>Thanks for being here, I hope you have a good read.
                </div>
                <div class="social-icons social-icons-medium home-social center">
                  {% if site.footersocial %}
                    {% include social-icons.html %}
                  {% endif %}
                </div>
                {% if site.experimental %}
                <div>
                  <a class="btn btn-medium btn-default btn-no-text-decoration btn-wide center" href="{{ site.baseurl }}/contacts">Get in touch</a>
                </div>
                {% endif %}
                <div class="scrolldown desktop-hidden smallscreen-hidden"><a href="#posts"><img src="/assets/icons/down-arrow.svg"></a></div>
                <!--
                <div>
                  <p>
                    <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;<a href="{{ site.baseurl }}/deals">Referrals and Offers</a>
                    <br>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<a href="{{ site.baseurl }}/support">Support me</a>
                  </p>
                </div>
                -->
              </div>
          </div>
          <div id="posts" class="col span_8_of_12" style="padding-top: 1em;">
            <div class="inner-container">
              <div class="sectionTitle">Latest blog posts</div>
              {% for post in site.posts limit: site.home.max_posts %}
                <div class="news newsEntry">
                  <span class="news newsTitle"><a href="{{ post.url }}">{{ post.title }}</a></span>
                  <div class="newsDate">{{ post.date | date: "%d %B %Y" }}</div>
                    {% if site.home.show_excerpt %}
                        {% if post.subtitle %}
                          <br>
                          <div class="newsExcerpt">
                            {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                            <br><br>
                            <a href="{{ post.url }}">Read more...</a>
                          </div>
                        {% else %}
                          <div class="newsExcerpt">
                            {{ post.content | truncatehtml | truncatewords: 20 }}
                            <a href="{{ post.url }}">Read more...</a>
                          </div>
                        {% endif %}
                    {% endif %}
                </div>
              {% endfor %}
              <p>
                <span class="low-links"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;&nbsp;<a class="grayLinks" href="{{ site.baseurl }}/blog/">Older posts</a></span>
                <span class="low-links mobile-hidden"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;&nbsp;<a class="grayLinks" href="{{ site.baseurl | prepend: site.url }}/feed.xml">RSS feed</a></span>
                <!--<span class="low-links"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a class="grayLinks" href="{{ site.baseurl }}/subscribe/">Newsletter</a></span>-->
              </p>


              <div style="padding-top: 1em;">
                <div class="sectionTitle">Resources</div>
                <p>
                  <ul>
                    <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
                    <li><a href="{{ site.baseurl }}/events">Events</a></li>
                    <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/utilities">Utilities</a></li>
                    <li><a href="{{ site.baseurl }}/security">Security resources</a></li>
                    <li><a href="{{ site.baseurl }}/developers">Material for Developers</a></li>
                    <li><a href="{{ site.baseurl }}/subscribe">Subscribe to the newsletter</a></li>
                  </ul>
                </p>
              </div>

            </div>
          </div>

        </div>
    </div>
  </div>

  <!--
  <div class="cover">
    <div class="container">
      <div class="scrolldown mobile-hidden"><a href="#home"><img src="/assets/icons/down-arrow.svg"></a></div>
      <br><br>
      <div class="line-separator"></div>
    </div>
  </div>
  -->

  <!--
  <div class="container">
    <div class="section group">
      <div id="home" class="inner-container">
        <div class="col span_4_of_12">
          <div class="resEntry">
            <div class="sectionTitle">Featured resources</div>
            <p>
              <a href="{{ site.baseurl }}/learning">Learning material</a>
              <br><a href="{{ site.baseurl }}/developers">Resources for developers</a>
              <br><a href="{{ site.baseurl }}/cheat-sheets">Cheat sheets for developers</a>
              <br><a href="{{ site.baseurl }}/utilities">Utilities</a>
              <br><a href="{{ site.baseurl }}/more">More...</a>
            </p>
          </div>
        </div>
        <div class="col span_4_of_12">
          <div class="resEntry">
            <div class="sectionTitle">Projects spotlight</div>
            <p>
              <a href="{{ site.baseurl }}/projects/rebrandly_cli">Rebrandly CLI</a>
              <br><a href="{{ site.baseurl }}/projects/workflow-ios">Workflows for iOS</a>
              <br><a href="http://github.com/pirafrank/jekyll-deployer">Jekyll deployer</a>
              <br><a href="http://github.com/pirafrank/todabu">todabu</a>
              <br><a href="{{ site.baseurl }}/projects">Discover all...</a>
            </p>
          </div>
        </div>
        <div class="col span_4_of_12">
          <div class="resEntry">
            <div class="sectionTitle">Thank you!</div>
            <p>
              Thank you for being here.<br>
              Now let's get in touch!<br><br>
              <a class="btn btn-small btn-default pull-left" href="{{ site.baseurl }}/contacts">Contact me</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
