_site
.DS_Store
.jekyll
.bundle
.sass-cache
node_modules
_sass/_cssdebug.scss
.jekyll-metadata
_posts/2020-01-01-test.md
pages/test.md
service-worker.js
.jekyll-cache
vendor
.vercel

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# jsonp files for prose.io
jsonp/categories.jsonp
jsonp/tags.jsonp
