---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>

    {% include meta.html %}

    {% include head.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home.css" />

    {% include analytics.html %}

  </head>

  <body>

  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">

        {% include nav.html %}
        
      </header>
    </div>
  </div>

  <div class="cover">
    <div class="container">
        <div class="section group header">
          <div class="col span_10_of_12">
              <div class="headText">
                <div class="userAvatarPlate userAvatar">
                  <img src="{{ site.avatar }}" width="120px;">
                </div>
                <div class="helloText">Hi, I'm</div>
                <div class="nameText"><a href="{{ sita.baseurl }}/about">{{ site.name }}</a></div>
                <div class="infoText">
                    Web Developer
                    <br>
                    Computer Engineering student at University of Catania - Catania, Italy
                    <br>
                    Co-Founder &amp; CEO Fileshute
                    <br>
                    Board Assistant of <a href="http://www.youthub.net">Youth Hub Catania</a>
                    <br>
                    Contact Person at <a href="http://twitter.com/eestec_catania">EESTEC JLC Catania</a>
                    <br>
                    Member of Google Developer Group - Catania
                  <br>
                </div>
              </div>
          </div>
          <div class="col span_2_of_12">
          </div>
        </div>
        <div style="color: #aaa; font-style: italic; font-size: 12px; text-align: right;">Etna view from the Ancient Theatre of Taormina</div>
    </div>
  </div>

  <div class="middle">
    {% if site.home.show_social %}
      <div class="social">
        {% include svg-icons.html %}
      </div>
    {% endif %}
    <div class="content navLinks navLinks-alt">
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/blog">BLOG</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/resources">RESOURCES</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/projects">PROJECTS</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/about">ABOUT</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/contact">CONTACT</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section group">
      <div class="inner-container">
        <div class="col span_7_of_12">
          <div>
            {% include searchbox.html %}
          </div>
          <div class="sectionTitle">Latest from blog</div> <!-- news class removed reduce space from search box-->
          {% for post in site.posts limit: site.home.max_posts %}
            <div class="news newsEntry">
              <span class="news newsTitle"><a href="{{ post.url }}">{{ post.title }}</a></span>
              <div class="newsDate">{{ post.date | date: "%d %B %Y" }}</div>
                {% if site.home.show_excerpt %}
                    {% if post.subtitle %}
                      <br>
                      <div class="newsExcerpt">
                        {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                        <br><br>
                        <a href="{{ post.url }}">Read more...</a>
                      </div>
                    {% else %}
                      <div class="newsExcerpt">
                        {{ post.content | truncatehtml | truncatewords: 20 }}
                        <a href="{{ post.url }}">Read more...</a>
                      </div>
                    {% endif %}
                {% endif %}
            </div>            
          {% endfor %}
          <p>
            <a href="{{ site.baseurl }}/blog/">...older posts</a>
          </p>
        </div>
        <div class="col span_5_of_12">
          {% if site.home.show_pinboard %}
            <div class="sectionTitle">Bookmarks</div>
            <div class="resEntry">
              <p>
                <a href="{{ site.baseurl }}/resources">Resources for Developers</a><br>
                <a href="http://tumblr.fpira.com">Tumblr blog</a>
              </p>
              <p>
                <a href="http://asciinema.org">Asciinema</a><br>
                <a href="https://github.com/facebook/PathPicker">PathPicker</a>
              </p>
            </div>
            <div class="resEntry">
              <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">Replace Just 2 Words In The NY Times Amazon Article and Something Amazing Happens | <a href="http://t.co/1vEe3RmmwH">http://t.co/1vEe3RmmwH</a> <a href="http://t.co/Kz3DwpIXAG">http://t.co/Kz3DwpIXAG</a></p>&mdash; Francesco Pira (@pirafrank) <a href="https://twitter.com/pirafrank/status/634635389022674944">August 21, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">Why oil prices could sink to $15 a barrel&#10;&#10;<a href="http://t.co/sfJH4sl9Fw">http://t.co/sfJH4sl9Fw</a></p>&mdash; Francesco Pira (@pirafrank) <a href="https://twitter.com/pirafrank/status/633890852633473025">August 19, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>

