---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>

    {% include meta.html %}

    {% include head.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home.css" />

    {% include analytics.html %}

  </head>

  <body>

  {% include noscript.html %}

  <div class="wrapper-masthead">
    <div class="container">
      <header id="top" class="masthead clearfix">

        {% include nav.html %}
        
      </header>
    </div>
  </div>

  <div class="cover">
    <div class="container">
        <div class="section group header">
          <div class="col span_10_of_12">
              <div class="headText">
                <div class="userAvatarPlate userAvatar">
                  <img src="{{ site.avatar }}" width="120px;">
                </div>
                <div class="helloText">Hi, I'm</div>
                <div class="nameText"><a href="{{ sita.baseurl }}/about">{{ site.name }}</a></div>
                <div class="infoText">
                    Web Developer
                    <br>
                    Computer Engineering student at University of Catania - Catania, Italy
                    <br>
                    Co-Founder &amp; CEO Fileshute
                    <br>
                    Board Assistant of <a href="http://www.youthub.net">Youth Hub Catania</a>
                    <br>
                    Contact Person at <a href="http://twitter.com/eestec_catania">EESTEC JLC Catania</a>
                    <br>
                    Member of Google Developer Group - Catania
                  <br>
                </div>
              </div>
          </div>
          <div class="col span_2_of_12">
          </div>
        </div>
        <div style="color: #aaa; font-style: italic; font-size: 12px; text-align: right;">Etna view from the Ancient Theatre of Taormina</div>
        <div class="scrolldown"><a href="#home"><img src="/assets/images/down-arrow.svg"></a></div>
    </div>
  </div>

  <div class="middle">
    {% if site.home.show_social %}
      <div class="social">
        {% include svg-icons.html %}
      </div>
    {% endif %}
    <div class="content navLinks">
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/blog">BLOG</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/resources">RESOURCES</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/projects">PROJECTS</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/about">ABOUT</a>
      </div>
      <div class="navLinkEntry">
        <a href="{{ site.baseurl }}/contacts">CONTACTS</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section group">
      <div class="inner-container">
        <div id="home" class="col span_7_of_12">
          {% if site.home.show_search %}
            <div class="desktop-hidden smallscreen-hidden">
              {% include searchbox.html %}
            </div>
          {% endif %}
          <div class="sectionTitle">Latest from blog</div> <!-- news class removed reduce space from search box-->
          {% for post in site.posts limit: site.home.max_posts %}
            <div class="news newsEntry">
              <span class="news newsTitle"><a href="{{ post.url }}">{{ post.title }}</a></span>
              <div class="newsDate">{{ post.date | date: "%d %B %Y" }}</div>
                {% if site.home.show_excerpt %}
                    {% if post.subtitle %}
                      <br>
                      <div class="newsExcerpt">
                        {{ post.subtitle | truncatehtml | truncatewords: 20 }}
                        <br><br>
                        <a href="{{ post.url }}">Read more...</a>
                      </div>
                    {% else %}
                      <div class="newsExcerpt">
                        {{ post.content | truncatehtml | truncatewords: 20 }}
                        <a href="{{ post.url }}">Read more...</a>
                      </div>
                    {% endif %}
                {% endif %}
            </div>            
          {% endfor %}
          <p>
            <a href="{{ site.baseurl }}/blog/">...all blog posts</a>
          </p>
        </div>
        <div class="col span_5_of_12">
          {% if site.home.show_pinboard %}
            <div class="sectionTitle">Bookmarks</div>
            <div class="resEntry">
              <p>
                <a href="{{ site.baseurl }}/for-developers">Resources for Developers</a><br>
                <a href="http://tumblr.fpira.com">Tumblr blog</a>
              </p>
              <p>
                <a href="http://asciinema.org">Asciinema</a><br>
                <a href="https://github.com/facebook/PathPicker">PathPicker</a>
              </p>
            </div>
            <div class="resEntry">
              <a class="twitter-timeline" href="https://twitter.com/pirafrank" data-widget-id="653244673704767488">Tweets by @pirafrank</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>

