openapi: 3.0.3
info:
  title: fpira.com website and blog API
  description: API endpoints for blog posts, categories, tags and other site info
  version: 1.0.0
  termsOfService: https://fpira.com/terms
  license:
    name: GNU General Public License v3.0
    url: https://www.gnu.org/licenses/gpl-3.0.html

servers:
  - url: https://fpira.com/api
    description: Production API server

paths:
  /v1/categories:
    get:
      operationId: v1CategoriesGet
      summary: Get all post categories in the website
      responses:
        200:
          description: List of website categories of posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

  /v1/pages:
    get:
      operationId: v1PagesGet
      summary: Get all pages
      responses:
        200:
          description: List of pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'

  /v1/posts:
    get:
      operationId: v1PostsGet
      summary: Get posts sorted by last update date
      responses:
        200:
          description: Array of posts sorted by creation date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'

  /v1/posts/latest:
    get:
      operationId: v1PostsLatestGet
      summary: Get latest blog post
      responses:
        200:
          description: Latest (by creation date) post details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

  /v1/posts/by_update:
    get:
      operationId: v1PostsByUpdateGet
      summary: Get posts sorted by last update date
      responses:
        200:
          description: Array of posts sorted by update date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'

  /v1/posts/by_update/latest:
    get:
      operationId: v1PostsByUpdateLatestGet
      summary: Get latest blog post
      responses:
        200:
          description: Latest (by update date) post details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

  /v1/tags:
    get:
      operationId: v1TagsGet
      summary: Get all post tags in the website
      responses:
        200:
          description: List of website tags of posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'

  /v1/version:
    get:
      operationId: v1VersionGet
      summary: Get site build info and version
      responses:
        200:
          description: Build and version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'

components:
  schemas:
    Type:
      type: string
      enum:
        - post
        - category
        - tag
        - page
    Page:
      type: object
      properties:
        type:
          type: string
          $ref: "#/components/schemas/Type"
        title:
          type: string
        id:
          type: string
        slug:
          type: string
        url:
          type: string
        path:
          type: string
    Post:
      type: object
      properties:
        type:
          type: string
          $ref: "#/components/schemas/Type"
        id:
          type: string
        postUrl:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        published:
          type: string
          format: date-time
        last_update:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        seoImageUrl:
          type: string

    Category:
      type: object
      properties:
        type:
          type: string
          $ref: "#/components/schemas/Type"
        id:
          type: string
        name:
          type: string
        url:
          type: string
        count:
          type: integer

    Tag:
      type: object
      properties:
        type:
          type: string
          $ref: "#/components/schemas/Type"
        id:
          type: string
        name:
          type: string
        url:
          type: string
        count:
          type: integer

    Version:
      type: object
      properties:
        build:
          type: object
          properties:
            dateTime:
              type: string
              format: date-time
            jekyll:
              type: object
              properties:
                version:
                  type: string
                plugins:
                  type: array
                  items:
                    type: string
        lastCommit:
          type: object
          properties:
            hash:
              type: string
            url:
              type: string
            dateTime:
              type: string
              format: date-time
            branch:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
            tags:
              type: array
              items:
                type: string
