---
---

@use "variables" as * ;

//
// .main for post pages
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightestGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  font-family: $defaultSansSerifBody;
  font-size: 18px;
  font-weight: $normal; // font weight of post body
  line-height: 1.6;
  //color: $darkGray; // commented as it uses color from 'body' in _base.scss

  strong, b {
    font-weight: bold;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $darkerGray;
    font-weight: bold;

    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
      line-height: 1.4;
    }

    @include retina {
      font-weight: $normal;
    }
  }

  h5 { // use it for citations and to put some text in the spotlight
    text-align: left;
    font-family: $defaultSansSerifBody;
    color: $lightGray;
    font-size: 26px;
    font-style: italic;
    margin-right: 16%;
    margin-left: 14%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 10px;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: $gray;
  }

  .post-title { // edit appearance of post title
    padding-top: 2em;
    margin-bottom: 0.4em;

    h1 {
      font-size: 38px;
      font-family: $defaultSerif;
      font-weight: $normal;
      letter-spacing: -0.05em;
      color: $darkerGray;
      line-height: 1.2;
    }
  }

  .post-subtitle { // edit appearance of post subtitle
    margin-bottom: 1.5em;

    strong {
      font-size: 18px;
      font-style: italic;
      font-weight: normal;
      color: $gray;
      @include mobile {
        font-size: 20px;
      }
    }
  }

  .post-updates {
    background-color: $lightestGray;
    padding: 20px 20px;
    margin-bottom: 1.5em;
    border-radius: $cardBorderRadius;
    color: $darkGray;
    font-size: 15px;

    strong:first-of-type {
      font-size: 16px;
    }

    p:first-of-type {
      margin-top: 0.5em;
    }

    p {
      margin: 0;
      line-height: 1.5;
    }

    p > code {
      background-color: $darkGray;
      color: $white;
    }

  }

  .post-details { // edit appearance of post details (date, category, ecc.)
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      color: $gray;
      line-height: 1.9;
      font-family: $defaultSansSerif;

      a {
        color: $darkBlue;
      }

      @include mobile {
        font-size: 18px;
        line-height: 1.2;
      }
  }

  //
  // apparearance of post body is managed by post class. see above.
  //

  .comments {
    margin-top: 10px;
  }

}

.category {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

.toc {
  font-size: 16px;
  background: $lightestGray;
  border-radius: $cardBorderRadius;
  border: 0px;
  margin: 20px 0px 25px 0px;
  padding: 20px 20px;
  border: 1px solid #e8e8e8;
}

.section-nav {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  margin-top: 0.5em;
}
