---
---

@import "variables";

.project-button {
    border-style: solid;
    border-color: $darkerGray;
    background-color: transparent;
    color: $darkerGray;

    &:hover, &:active {
        background-color: $darkerGray;
        color: $white;
    }
}
