
    <div class="wrapper-footer">
      <div class="container reading_container">
        {% if page.is_home %}
          <br><br>
        {% else %}
          {% if site.footersocial %}
            <br>
            <div class="social-icons social-icons-medium center" id="footer-social">
              {% include social-icons.html %}
            </div>
          {% endif %}
        {% endif %}
        <footer>
          <div class="footer-links">
            <div class="container section group">
              <div class="col span_4_of_12">
                <p>
                  <ul>
                    <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/security/">Security Resources</a></li>
                    <br>
                  </ul>
                </p>
              </div>
              <div class="col span_4_of_12">
                <p>
                  <ul>
                    <li><a href="{{ site.baseurl }}/contacts#verify-my-identity">Identity proofs</a></li>
                    <li><a href="{{ site.baseurl }}/quotes">Inspiring quotes</a></li>
                    <br>
                  </ul>
                </p>
              </div>
              <div class="col span_4_of_12">
                <p>
                  <ul>
                    <li><a href="{{ site.baseurl}}/about-blog-comments/">About blog comments</a></li>
                    <li><a href="{{ site.baseurl}}/terms">Terms and policies</a></li>
                    <br>
                    <li class="darkmode-ignore"><b>&lt;/&nbsp;&gt;</b> with &#x2764; in Sicily.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
