
    <title>{% if page.title %}{{ page.title }} {{ site.title_separator }} {{ site.name }}{% else %}{{ site.name }} {{ site.title_separator }} {{ site.domain }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url | append: site.baseurl }}/sitemap.xml">

    <!-- rel me -->
    <link href="{{ site.data.social.twitter.url }}" rel="me">
    <link href="{{ site.data.social.github.url }}" rel="me">
    <link href="{{ site.data.social.linkedin.url }}" rel="me">
    <link href="{{ site.data.social.mastodon.url }}" rel="me">

    <!-- webmention.io stuff -->
    <link rel="pingback" href="https://webmention.io/{{ site.domain }}/xmlrpc">
    <link rel="webmention" href="https://webmention.io/{{ site.domain }}/webmention">

    <!-- favicons and theme meta -->
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicons/favicon.png" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicons/favicon.png" />

    <!-- PWA manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <link rel="icon" href="{{ site.baseurl }}/assets/icons/fp/rounded/icon-152x152.png">
    <!-- theme-color defines the top bar color -->
    <meta name="theme-color" content="#3344aa"/>
    <!-- Add to home screen for Safari on iOS-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}"/>
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icons/fp/blue/icon-152x152.png"/>
    <!-- Add to home screen for Windows-->
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/icons/fp/blue/icon-152x152.png"/>
    <meta name="msapplication-TileColor" content="#3344aa"/>

    <!-- alby wallet -->
    <meta name="lightning" content="{{ site.data.social.alby.address }}" />

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="RSS - {{ site.name }} - {{ site.description }}" href="{{ site.url | append: site.baseurl }}/feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom - {{ site.name }} - {{ site.description }}" href="{{ site.url | append: site.baseurl }}/atom.xml" />
    <link rel="alternate" type="application/feed+json" title="JSON Feed - {{ site.name }} - {{ site.description }}" href="{{ site.url | append: site.baseurl }}/feed.json" />

    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css">

    <!-- Page-specific CSS -->
    {% if layout.custom_css %}
      {% for stylesheet in layout.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    <link rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/glightbox.min.css"
      media="print"
      onload="this.media='all'" />

    <!-- Scripts -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-1.x.min.js" defer ></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/velocity.min.js" defer ></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/page_anchors.js" defer ></script>

    <!-- Page-specific scripts -->
    {% if layout.custom_js %}
      {% for js_file in layout.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/{{ js_file }}.js" defer ></script>
      {% endfor %}
    {% endif %}
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/{{ js_file }}.js" defer ></script>
      {% endfor %}
    {% endif %}

    <!-- SW registration -->
    <script src="{{ site.baseurl }}/service-worker-register.js" ></script>
