
    <span class="searchIcon mobile-hidden">
        <a href="{{ site.baseurl }}/search"><img src="{{ site.baseurl }}/assets/icons/search.png"></a>
    </span>
    <span class="nav">
        <a href="{{ site.baseurl }}/about">ABOUT</a>
        <a class="mobile-hidden" href="{{ site.baseurl }}/contacts">CONTACTS</a>
        <a href="{{ site.baseurl }}/blog">BLOG</a>
        <a href="{{ site.baseurl }}/code">CODE</a>
        <a class="searchIcon desktop-hidden smallscreen-hidden" href="{{ site.baseurl }}/search"><img src="{{ site.baseurl }}/assets/icons/search.png"></a>
    </span>
