    
    <span class="searchIcon mobile-hidden">
        <a href="{{ site.baseurl }}/search"><img src="/assets/icons/search.png"></a>
    </span>
    <span class="nav">
        <a href="{{ site.baseurl }}/blog">BLOG</a>
        <a href="{{ site.baseurl }}/goodies">GOODIES</a>
        <a href="{{ site.baseurl }}/projects">PROJECTS</a>
        <a href="{{ site.baseurl }}/about">ABOUT</a>
        <a href="{{ site.baseurl }}/contacts">CONTACTS</a>        
    </span>
    <span class="searchIcon desktop-hidden smallscreen-hidden">
        <a href="{{ site.baseurl }}/search"><img src="/assets/icons/search.png"></a>
    </span>
