            <div class="sectionTitle">Articles I recommend</div>
            <div class="resEntry">
              <a href="http://getpocket.com/@{{ site.social-links.pocket }}">on Pocket</a>
              <br>
              <a href="https://medium.com/@{{ site.social-links.medium }}/has-recommended">on Medium</a><br>
            </div>
            <div class="sectionTitle">Quick Links</div>            
            <div class="resEntry">
              <p>
                <a href="http://aka.ms/onedrivestorage">Keep OneDrive bonus space (expires 01/31/2016)</a>
                <br><br>
                <a href="{{ site.baseurl }}/for-developers">Resources for Developers</a>
                <br>
                <a href="{{ site.baseurl }}/for-users/">Power-User Corner</a>
              </p>
            </div>