            <div class="sectionTitle">Spotlight</div>
            <div class="resEntry">
              <p>
                <a href="{{ site.baseurl }}/projects">Projects</a>
                <br>
                <a href="{{ site.baseurl }}/resources/utilities">Utilities</a>
                <br>
                <a href="{{ site.baseurl }}/resources/learning">Learning material</a>
                <br>
                <a href="{{ site.baseurl }}/resources/for-developers">Resources for developers</a>
                <br>
                <a href="{{ site.baseurl }}/resources/cheat-sheets">Cheat sheets</a>
                <br>
                <a href="http://{{ site.social-links.tumblr }}.tumblr.com">Posted on the go</a>
              </p>
              <p>
                <a href="http://www.packal.org/users/{{ site.social-links.packal }}">Packal.org Profile</a>
              </p>
              <p>
                <b>Recommeded on</b>
                <br>
                <a href="http://getpocket.com/@{{ site.social-links.pocket }}">Pocket</a>
                <br>
                <a href="https://medium.com/@{{ site.social-links.medium }}/has-recommended">Medium</a><br>
              </p>
            </div>