
<div id="share-links" class="share-div">
    Share this via&nbsp;
    <a href="https://facebook.com/sharer.php?u={{ site.url | append: site.baseurl | append: page.url }}" class="btn btn-small btn-default share-btn" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | append: site.baseurl | append: page.url }}&via={{ site.data.social.twitter.user }}&related={{ site.data.social.twitter.user }}" class="btn btn-small btn-default share-btn" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: site.baseurl | append: page.url }}&title={{ page.title }}&summary=&source={{ site.data.social.linkedin.user }}" class="btn btn-small btn-default share-btn">LinkedIn</a>
    <a href="https://www.reddit.com/submit?url={{ site.url | append: site.baseurl | append: page.url }}&title={{ page.title }}" class="btn btn-small btn-default share-btn">Reddit</a>
    <a href="whatsapp://send?text={{ page.title }}+%7C+{{ site.url | append: site.baseurl | append: page.url }}" class="desktop-hidden smallscreen-hidden btn btn-small btn-default share-btn">Whatsapp</a>
    <a href="https://telegram.me/share/url?url={{ site.url | append: site.baseurl | append: page.url }}&text={{ page.title }}" class="btn btn-small btn-default share-btn">Telegram</a>
</div>

