
{% if site.data.social.twitter.url %}
<a href="{{ site.data.social.twitter.url }}"
    alt="twitter"
    title="Twitter"><i class="fa fa-twitter"></i></a>
{% endif %}

{% if site.data.social.linkedin.url %}
<a href="{{ site.data.social.linkedin.url }}"
    alt="LinkedIn"
    title="LinkedIn"><i class="fa fa-linkedin"></i></a>
{% endif %}

{% if site.data.social.github.url %}
<a href="{{ site.data.social.github.url }}"
    alt="GitHub"
    title="GitHub"><i class="fa fa-github"></i></a>
{% endif %}

{% if site.data.social.slideshare.url %}
<a href="{{ site.data.social.slideshare.url }}"
    alt="SlideShare"
    title="SlideShare"><i class="fa fa-slideshare"></i></a>{% endif %}

{% if site.data.social.keybase.url %}
<a href="{{ site.data.social.keybase.url }}"
    alt="Keybase"
    title="Keybase"><i class="fa fa-key"></i></a>
{% endif %}
