
{% if site.data.social.twitter.url %}<a href="{{ site.data.social.twitter.url }}"><i class="fa fa-twitter"></i></a>{% endif %}
{% if site.data.social.linkedin.url %}<a href="{{ site.data.social.linkedin.url }}"><i class="fa fa-linkedin"></i></a>{% endif %}
{% if site.data.social.github.url %}<a href="{{ site.data.social.github.url }}"><i class="fa fa-github"></i></a>{% endif %}
{% if site.data.social.slideshare.url %}<a href="{{ site.data.social.slideshare.url }}"><i class="fa fa-slideshare"></i></a>{% endif %}
{% if site.data.social.keybase.url %}<a href="{{ site.data.social.keybase.url }}"><i class="fa fa-key"></i></a>{% endif %}
