{% if site.social-links.twitter %}<a href="http://twitter.com/{{ site.social-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.social-links.linkedin %}<a href="http://linkedin.com/in/{{ site.social-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.social-links.github %}<a href="http://github.com/{{ site.social-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.social-links.googleplus %}<a href="https://plus.google.com/{{ site.social-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
{% if site.social-links.flickr %}<a href="http://flickr.com/{{ site.social-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
