
.btn {
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 100%;

    &:hover, &:active {
        text-decoration: none;
    }

    @include mobile {
        //display: block;
        display: table; // center divs in mobile view (IE8 compatible)
        text-align: center;
    }

}

.btn-big {
    margin: 15px 10px 15px 10px;
    padding: 0.6em 2em 0.6em 2em;
    border-width: 2px;

    @include mobile {
        margin: 0.5em auto; // center divs in mobile view (IE8 compatible)
    }
}

.btn-medium {
    margin: 15px 10px 15px 10px;
    font-size: 16px;
    padding: 0.6em 1em 0.6em 1em;
    border-width: 2px;

    @include mobile {
        margin: 0.5em auto; // center divs in mobile view (IE8 compatible)
    }
}

.btn-small {
    font-size: 14px;
    margin: 5px;
    padding: 0.4em 1em 0.4em 1em;
    border-width: 1px;

    @include mobile {
        margin: 0.5em auto; // center divs in mobile view (IE8 compatible)
        font-size: 16px;
    }
}

.btn-default {
    border-style: solid;
    border-color: $lightestGray;
    background-color: transparent;
    color: $darkBlue;

    &:hover {
        border-color: $darkBlue;
    }

    &:active {
        color: $white;
        background-color: $darkBlue;
    }

    @include mobile {
        &:hover, &:active {
            color: $white;
            background-color: $darkBlue;
        }
    }
}

.btn-no-text-decoration {
    text-decoration: none !important;
    &:hover, &:active {
        text-decoration: none !important;
    }
}

.btn-wide-50 {
    width: 50%;
}

.btn-wide-60 {
    width: 60%;
}

.btn-wide-70 {
    width: 70%;
}

.btn-wide-80 {
    width: 80%;
}
