
//
// FOOTER CSS
//

.back-to-top {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-right: 1%;
  text-align: right;
  a {
    text-decoration: underline;
    color: $darkerGray;
  }
}

.wrapper-footer {
  //border-top: 1px solid #ddd; // original ugly stuff
  //border-bottom: 1px solid #ddd; // original ugly stuff
  background-color: $lightGray;
}

.footer-links {
  margin-bottom: 2em;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.4;
  color: $gray;
  text-align: left;

  @include mobile {
    padding-left: 0px;
    font-size: 16px;
    text-align: center;

    ul {
      padding: 0px; // remove ul white space on mobile devices
    }
  }

  a {
    color: $gray;
    &:hover,&:focus {
        color: $gray;
    }
    @include mobile {
      line-height: 2em;
    }
  }

  p {
    color: $gray;
    &:hover,&:focus {
      color: $gray;
    }

    @include mobile {
      line-height: 2em;
    }
  }

  li {
    list-style: none;
  }
}

