
//
// FOOTER CSS
//

.wrapper-footer {
  margin-top: 50px;
  //border-top: 1px solid #ddd; // original ugly stuff
  //border-bottom: 1px solid #ddd; // original ugly stuff
  background-color: $lightGray;
}

.footer-links {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  color: $gray;
  margin-bottom: 2em;
  text-align: center;

  a {
    color: $gray;
    &:hover {
        color: $gray;
        text-decoration: underline;
    }
    @include mobile {
      line-height: 2em;
    }
  }

  p {
    color: $gray;
    &:hover,&:focus {
      color: $gray;
    }

    @include mobile {
      line-height: 2em;
    }
  }
}

