
.hidden {
    display: none !important;
}

.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}

.smallscreen-hidden {
    @include smallscreen {
        display: none !important;
    }
}
