
@use "variables" as *;

.highlight {
  background-color: $darkGray;
  padding: 10px 10px 10px 12px;
  //border: 1px solid #ddd;
  //-moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  //-webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  //box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: auto;
}

/* Code section */
pre > code {
  font-family: $defaultMonospaced;
  font-size: 14px;
}

/* Inline code */
code {
  background-color: $darkGray;
  padding: 2px 2px 2px 2px;
  font-family: $defaultMonospaced;
  font-size: 14px;
  color: $white;
}

.highlight .c { color: #586E75 } /* Comment - base01 */
.highlight .err { color: #DC322F } /* Error - red */
.highlight .g { color: #839496 } /* Generic - base0 */
.highlight .k { color: #859900 } /* Keyword - green */
.highlight .l { color: #839496 } /* Literal - base0 */
.highlight .n { color: #839496 } /* Name - base0 */
.highlight .o { color: #586E75 } /* Operator - base01 */
.highlight .x { color: #CB4B16 } /* Other - orange */
.highlight .p { color: #839496 } /* Punctuation - base0 */
.highlight .cm { color: #586E75 } /* Comment.Multiline - base01 */
.highlight .cp { color: #586E75 } /* Comment.Preproc - base01 */
.highlight .c1 { color: #586E75 } /* Comment.Single - base01 */
.highlight .cs { color: #586E75 } /* Comment.Special - base01 */
.highlight .gd { color: #DC322F } /* Generic.Deleted - red */
.highlight .ge { color: #839496; font-style: italic } /* Generic.Emph - base0 */
.highlight .gr { color: #DC322F } /* Generic.Error - red */
.highlight .gh { color: #CB4B16 } /* Generic.Heading - orange */
.highlight .gi { color: #859900 } /* Generic.Inserted - green */
.highlight .go { color: #839496 } /* Generic.Output - base0 */
.highlight .gp { color: #839496 } /* Generic.Prompt - base0 */
.highlight .gs { color: #839496; font-weight: bold } /* Generic.Strong - base0 */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading - orange */
.highlight .gt { color: #DC322F } /* Generic.Traceback - red */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant - orange */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration - blue */
.highlight .kn { color: #859900 } /* Keyword.Namespace - green */
.highlight .kp { color: #859900 } /* Keyword.Pseudo - green */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved - blue */
.highlight .kt { color: #DC322F } /* Keyword.Type - red */
.highlight .ld { color: #839496 } /* Literal.Date - base0 */
.highlight .m { color: #2AA198 } /* Literal.Number - cyan */
.highlight .s { color: #2AA198 } /* Literal.String - cyan */
.highlight .na { color: #839496 } /* Name.Attribute - base0 */
.highlight .nb { color: #B58900 } /* Name.Builtin - yellow */
.highlight .nc { color: #268BD2 } /* Name.Class - blue */
.highlight .no { color: #CB4B16 } /* Name.Constant - orange */
.highlight .nd { color: #268BD2 } /* Name.Decorator - blue */
.highlight .ni { color: #CB4B16 } /* Name.Entity - orange */
.highlight .ne { color: #CB4B16 } /* Name.Exception - orange */
.highlight .nf { color: #268BD2 } /* Name.Function - blue */
.highlight .nl { color: #839496 } /* Name.Label - base0 */
.highlight .nn { color: #839496 } /* Name.Namespace - base0 */
.highlight .nx { color: #839496 } /* Name.Other - base0 */
.highlight .py { color: #839496 } /* Name.Property - base0 */
.highlight .nt { color: #268BD2 } /* Name.Tag - blue */
.highlight .nv { color: #268BD2 } /* Name.Variable - blue */
.highlight .ow { color: #859900 } /* Operator.Word - green */
.highlight .w { color: #839496 } /* Text.Whitespace - base0 */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float - cyan */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex - cyan */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer - cyan */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct - cyan */
.highlight .sb { color: #2AA198 } /* Literal.String.Backtick - cyan */
.highlight .sc { color: #2AA198 } /* Literal.String.Char - cyan */
.highlight .sd { color: #586E75 } /* Literal.String.Doc - base01 */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double - cyan */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape - orange */
.highlight .sh { color: #586E75 } /* Literal.String.Heredoc - base01 */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol - cyan */
.highlight .sx { color: #2AA198 } /* Literal.String.Other - cyan */
.highlight .sr { color: #DC322F } /* Literal.String.Regex - red */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single - cyan */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol - cyan */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo - blue */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class - blue */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global - blue */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance - blue */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long - cyan */
