
@use "variables" as *;

// GitHub Dark Mode Color Palette
// Based on GitHub Primer primitives: https://github.com/primer/primitives
$gh-bg-default: #0d1117;
$gh-bg-subtle: #161b22;
$gh-border-default: #30363d;
$gh-fg-default: #e6edf3;
$gh-fg-subtle: #6e7681;

// Syntax colors
$gh-red-2: #ffa198;
$gh-red-3: #ff7b72;
$gh-red-9: #490202;
$gh-orange-2: #ffa657;
$gh-orange-3: #f0883e;
$gh-green-1: #7ee787;
$gh-green-2: #56d364;
$gh-green-7: #0f5323;
$gh-blue-1: #a5d6ff;
$gh-blue-2: #79c0ff;
$gh-purple-2: #d2a8ff;
$gh-gray-3: #8b949e;
$gh-gray-4: #6e7681;
$gh-danger-fg: #f85149;

.highlight {
  background-color: $gh-bg-default;
  color: $gh-fg-default;
  padding: 10px 10px 10px 12px;
  border-radius: 6px;
  margin: 20px 0 20px 0;
  overflow: auto;
}

// Lighter background when dark mode is activated
.darkmode--activated .highlight {
  background-color: #30363d !important;
}

/* Code section */
pre > code {
  font-family: $defaultMonospaced;
  font-size: 14px;
  color: $gh-fg-default;
}

/* Inline code */
code {
  background-color: $gh-bg-subtle;
  color: $gh-fg-default;
  padding: 2px 6px;
  font-family: $defaultMonospaced;
  font-size: 14px;
  border-radius: 3px;
}

// Lighter background when dark mode is activated
.darkmode--activated code {
  background-color: #30363d !important;
}

// Reset inline code styling inside code blocks
.highlight code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

/* Syntax Highlighting - GitHub Dark Mode */

.highlight .c { color: $gh-gray-3; font-style: italic } /* Comment */
.highlight .err { color: $gh-danger-fg } /* Error */
.highlight .g { color: $gh-fg-default } /* Generic */
.highlight .k { color: $gh-red-3 } /* Keyword */
.highlight .l { color: $gh-blue-1 } /* Literal */
.highlight .n { color: $gh-fg-default } /* Name */
.highlight .o { color: $gh-red-3; font-weight: bold } /* Operator */
.highlight .x { color: $gh-fg-default } /* Other */
.highlight .p { color: $gh-fg-default } /* Punctuation */
.highlight .cm { color: $gh-gray-3; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $gh-gray-3; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $gh-gray-3; font-style: italic } /* Comment.Single */
.highlight .cs { color: $gh-gray-3; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $gh-red-2; background-color: $gh-red-9 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $gh-red-2 } /* Generic.Error */
.highlight .gh { color: $gh-blue-2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $gh-green-2; background-color: $gh-green-7 } /* Generic.Inserted */
.highlight .go { color: $gh-gray-3 } /* Generic.Output */
.highlight .gp { color: $gh-gray-3 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $gh-blue-2 } /* Generic.Subheading */
.highlight .gt { color: $gh-red-3 } /* Generic.Traceback */
.highlight .kc { color: $gh-blue-2 } /* Keyword.Constant */
.highlight .kd { color: $gh-red-3 } /* Keyword.Declaration */
.highlight .kn { color: $gh-red-3 } /* Keyword.Namespace */
.highlight .kp { color: $gh-blue-2 } /* Keyword.Pseudo */
.highlight .kr { color: $gh-red-3 } /* Keyword.Reserved */
.highlight .kt { color: $gh-red-3 } /* Keyword.Type */
.highlight .ld { color: $gh-blue-2 } /* Literal.Date */
.highlight .m { color: $gh-blue-1 } /* Literal.Number */
.highlight .s { color: $gh-blue-1 } /* Literal.String */
.highlight .na { color: $gh-fg-default } /* Name.Attribute */
.highlight .nb { color: $gh-fg-default } /* Name.Builtin */
.highlight .nc { color: $gh-orange-3; font-weight: bold } /* Name.Class */
.highlight .no { color: $gh-blue-2; font-weight: bold } /* Name.Constant */
.highlight .nd { color: $gh-purple-2; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: $gh-orange-2 } /* Name.Entity */
.highlight .ne { color: $gh-orange-3; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $gh-purple-2; font-weight: bold } /* Name.Function */
.highlight .nl { color: $gh-blue-2; font-weight: bold } /* Name.Label */
.highlight .nn { color: $gh-red-3 } /* Name.Namespace */
.highlight .nx { color: $gh-fg-default } /* Name.Other */
.highlight .py { color: $gh-blue-2 } /* Name.Property */
.highlight .nt { color: $gh-green-1 } /* Name.Tag */
.highlight .nv { color: $gh-blue-2 } /* Name.Variable */
.highlight .ow { color: $gh-red-3; font-weight: bold } /* Operator.Word */
.highlight .w { color: $gh-fg-subtle } /* Text.Whitespace */
.highlight .mf { color: $gh-blue-1 } /* Literal.Number.Float */
.highlight .mh { color: $gh-blue-1 } /* Literal.Number.Hex */
.highlight .mi { color: $gh-blue-1 } /* Literal.Number.Integer */
.highlight .mo { color: $gh-blue-1 } /* Literal.Number.Oct */
.highlight .sb { color: $gh-blue-1 } /* Literal.String.Backtick */
.highlight .sc { color: $gh-blue-1 } /* Literal.String.Char */
.highlight .sd { color: $gh-blue-1 } /* Literal.String.Doc */
.highlight .s2 { color: $gh-blue-1 } /* Literal.String.Double */
.highlight .se { color: $gh-blue-2 } /* Literal.String.Escape */
.highlight .sh { color: $gh-blue-2 } /* Literal.String.Heredoc */
.highlight .si { color: $gh-blue-1 } /* Literal.String.Interpol */
.highlight .sx { color: $gh-blue-1 } /* Literal.String.Other */
.highlight .sr { color: $gh-blue-2 } /* Literal.String.Regex */
.highlight .s1 { color: $gh-blue-1 } /* Literal.String.Single */
.highlight .ss { color: $gh-blue-1 } /* Literal.String.Symbol */
.highlight .bp { color: $gh-blue-2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $gh-blue-2 } /* Name.Variable.Class */
.highlight .vg { color: $gh-blue-2 } /* Name.Variable.Global */
.highlight .vi { color: $gh-blue-2 } /* Name.Variable.Instance */
.highlight .il { color: $gh-blue-1 } /* Literal.Number.Integer.Long */
