
//
// Pages
//

.page {
  font-weight: $normal;
  //color: $darkGray; // commented as it uses color from 'body' in _base.scss

  @include retina {
    strong, b {
      font-weight: bold;
    }
  }
}

.page-title {
  @include mobile{
    text-align: center;
  }
}
