
//
// Pages
//

@use "variables" as *;

.page {
  font-weight: $normal;
  //color: $darkGray; // commented as it uses color from 'body' in _base.scss

  @include retina {
    strong, b {
      font-weight: bold;
    }
  }
}

/*
.page-title {
  @include mobile{
    text-align: center;
  }
}
*/

.toc {
  font-size: 16px;
  background: $lightestGray;
  border-radius: $cardBorderRadius;
  border: 0px;
  margin: 20px 0px 25px 0px;
  padding: 20px 20px;
  border: 1px solid #e8e8e8;
}

.section-nav {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  margin-top: 0.5em;
}
