
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkBlue: #34a; // #35a;

// Grays
$black: #000;
$darkestGray: #222;
$darkerGray: #333;
$darkGray: #404040;
$gray: #666;
$lightGray: #aaa;
$lighterGray: #ccc;
$lightestGray: #eee;
$white: #fff;

// Default fonts. Change here to change site-wide
$defaultSerif: 'Merriweather', serif;
$defaultSansSerif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$defaultSansSerifBody: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$defaultMonospaced: 'Fira Mono','Courier', monospace;
$bodySize: 16px;

// font-weight
$thin: 400;
$normal: 400;
$bold: 700;

// card styles
$buttonBorderRadius: 5px;
$searchBarBorderRadius: 5px;
$cardBorderRadius: 10px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin smallscreen {
  @media screen and (min-width: 641px) and (max-width: 991px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
