---
---

@use "variables" as * ;

//
// CSS for /blog and /by-category pages
//

.blog-page-options {
  h5 {
    font-size: 20px;
    color: $gray;
  }

  @include mobile {
    text-align: center;
  }
}

.blog-entry {
  padding: 0em 0em 1.4em;
  margin-left: 1em;

    @include mobile {
      //text-align: center;
      margin-left: 0em;
    }

    @include retina {
      font-weight: $thin;
      strong, b {
        font-weight: $normal;
      }
    }
}

.blog-entry-link {
  padding-bottom: 3px;
  a {
    font-family: $defaultSerif;
    font-size: 20px;
    color: $darkerGray;
    @include mobile {
      font-size: 18px;
    }
  }
}

.blog-entry-details {
  padding-top: 3px;
  font-family: $defaultSerif;
  font-size: 14px;
  color: $gray;
  @include mobile {
    font-size: 16px;
  }
}

.blog-entry-details-thin {
  padding-top: 3px;
  font-family: $defaultSansSerif;
  font-size: 14px;
  color: $gray;
  @include mobile {
    font-size: 16px;
  }
}
