---
---

@import "variables";

body {
  font-size: 16px;
}

h1 {
  font-weight: normal;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;

  @include mobile {
    line-height: 1.0;
  }
}

.cover {
  /*
  background-image: url("{{ site.baseurl }}/assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  */
  background-color: $white;
}

.header {
  a {
    color: $darkGray;
    text-decoration: underline;
    &:hover, &:active {
      color: $darkGray;
    }
  }
}

//
// .top
//

.headText {
  margin: 0 auto;
  padding: 10px 20px 40px 25px;
  width: 100%;
  text-align: left;
  //line-height: 1.4;

  @include mobile {
    text-align: center;
    padding: 10px 10px 40px 10px;
  }
}

.floatRightDesktop {
  float: right !important;

  @include mobile {
    float: none !important;
  }
}

.userAvatarPlate {    
    border-radius: 8%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.userAvatar {
    width: 180px;
    height: 180px;
    overflow: hidden; // auto-crop image to fit the set rounded border
    //border: 2px solid $lightestGray;

    img {
      width: 100%;
    }

    @include mobile {
      //width: 50%;
      margin: 0 auto; // centering div on mobile
    }
}

.helloText {
  font-weight: 300;
  font-size: 20px;
  //padding-top: 1.5em;
}

.nameText {
  padding-bottom: 0.2em;
  padding-top: 0.1em;
  font-weight: 300;

  a {
    font-size: 28px;
    font-style: bold;
    text-decoration: none;
  }
}

.infoText {
  font-size: 14px;
  font-weight: 300;
  //color: $lightestGray;
  line-height: 1.4;
}

.home-social {
  //padding-top: 1em;
  text-align: center;

  a {
    color: $gray;
    // hover color is inherited .header
  }
}

//
// mid section
//

.middle {
  text-align: center;
  background-color: $darkBlue; //$darkBlue
  padding: 20px 0px 20px 0px;
}

.wrapper-masthead {     // these settings overwrite the ones in style.scss
  margin-bottom: 0px;

  @include mobile {
    display: none;
  }

}

.navLinks {
  display: none;
  margin: 0px 20px 0px 20px;
  padding-right: 25px;
  text-align: right;
  font-weight: 300;

  * {
    color: $white;
    &:hover, &:active {
      color: $white;
    }
  }

  @include mobile {
    display: block;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
}

.navLinkEntry {
    margin-top: 10px; // put space between navLinks buttons...
    margin-bottom: 10px; // ...in a vertically symmetric fashion!

    a {
      width: 120px;
      background-color: transparent;
      border: 1px solid $lightestGray;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      @include mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 180px;
        padding: 5px 0px 5px 0px;
        display: table;

        &:active {
          background-color: $white;
          border-color: $white;
          color: $darkBlue;
        }
      }
    }
}

.scrolldown {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid $lightestGray;
  //border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.line-separator {
  //height: 1px;
  border: 1px solid $lighterGray;
}

//
// posts section
//

.inner-container {
  margin: 0 auto;
  width: 100%;
  max-width: 890px;
  padding-top: 35px;

  @include mobile {
    padding-left: 1em;
    padding-top: 15px;
  }
}

.resEntry {
  text-align: left;
  font-size: 16px;
  padding-bottom: 20px;

  p {
    color: $darkGray;
  }
  p > a {
    color: $darkGray;
  }

  @include mobile {
    margin-right: 0em;
    line-height: 2.0;
    p {
      font-size: 18px;
    }
    p > a {
      font-size: 18px;
    }
  }
}

.sectionTitle {
  font-family: $defaultSansSerif;
  font-weight: bold;
  font-size: 24px;

  @include mobile {
    font-size: 26px;
  }
}

.sectionTitleSmall { // you have to use this w/ .sectionTitle
  font-size: 20px;

  @include mobile {
    font-size: 22px;
  }
}

.news {
  padding-top: 1.2em;

  @include mobile {
    padding-top: 0.9em;
  }
}

.newsEntry {
  padding-bottom: 1.0em;
  margin-right: 3em;
  font-size: 16px;
  //font-weight: 400;

  @include mobile {
    margin-right: 0em;
    font-size: 18px;
  }
}

.newsTitle {
  font-size: 1.0em; // overridden by _base if in px
  font-weight: normal;
  font-family: $defaultSerif;
  padding-bottom: 1px;

  @include mobile {
    font-size: 18px;
  }

  @include retina {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: $darkerGray;

    &:hover, &:focus {
      text-decoration: underline;
      color: $darkerGray;

      @include mobile {
        text-decoration: none;
      }
    }

    &:visited {
      color: $darkerGray;
    }
  }
}

.newsDate {
  font-size: 14px;
  color: $gray;

  @include mobile {
    font-size: 16px;
  }
}

.low-links {
  padding-right: 1em;
}

//
// utils
//

.grayLinks {
  color: $darkGray;
  font-size: 14px;

  &:hover, &:focus {
    color: $darkGray;
  }
}
