---
---

@import "variables";

.search-input {
    margin: 6px;
    width: 280px;
    height: 35px;
    font-family: $defaultSansSerif;
    font-size: 16px;
    background-color: transparent; // #fafafa;
    border: 1px solid $lightestGray;
    padding: 6px 4%;
    color: $gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:hover, &:focus {
      color: $darkerGray; // color of typed text
      outline: none;
      border-color: $darkBlue;
      background-color: $white;
    }
}

.search-btn {
    margin: 6px;
    width: 60px;
    height: 30px;
    font-size: 14px;
    background-color: $white; // #fafafa;
    border: 1px solid $lightestGray;
    padding: 0px 6px 0px 6px;
    color: $darkGray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:hover, &:active {
      color: $darkerGray; // color of typed text
      outline: none;
      border-color: $lightGray;

        @include mobile {
            background-color: $lightestGray;
        }
    }

    &:active {
        border-color: $gray;
        background-color: $lightestGray;
    }
}

.results-container {
    margin: 0 auto;
    padding: 10px;
    max-width: 640px;
    width: 100%;

    @include mobile {
        ul > li {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}
