<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

    {% include seo.html %}

    {% include head_analytics.html %}

  </head>

  <body>

    {% include noscript.html %}

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div id="top">
            {% unless page.is_home %}
            <span class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
            {% endunless %}
            {% include nav.html %}
          </div>

        </header>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/glightbox.min.js"></script>
    <script type="text/javascript">
      const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,
        autoplayVideos: true
      });
    </script>

    <script src="{{ site.baseurl }}/assets/js/darkmode-js.min.js"></script>
    <script>
      var dmOptions = {
        right: 'unset',
        left: '32px',
        time: '0.3s',
        backgroundColor: '#fff',
        buttonColorDark: '#353535',
        buttonColorLight: '#fff',
        buttonColorDark: '#353535',
        saveInCookies: true,
        label: '🌓',
        autoMatchOsTheme: true
      }
      new Darkmode(dmOptions).showWidget();
    </script>

    {% include bottom_analytics.html %}

  </body>
</html>
