<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    {% include head.html %}

    {% include analytics.html %}

  </head>

  <body>

    
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div>
            <span class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
            {% include nav.html %}
          </div>
 
        </header>
      </div>
    </div>

    <div class="big_container">
      <div id="main" role="main" class="container reading_container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
