---
layout: default
custom_css: ['layouts/posts']
---

<div class="big_container">
  <div id="main" role="main" class="container reading_container">

    <article class="post">

      <div>
        <div class="post-title">
          <h1>{{ page.title | smartify }}</h1>
        </div>
        {% if page.subtitle %}
        <div class="post-subtitle">
          <strong>{{ page.subtitle }}</strong>
        </div>
        {% endif %}
        <div class="post-details">
          <i>
            {% assign readtime = page.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
            Published on {{ page.date | date: "%B %-d, %Y" }} in <a href="{{ site.baseurl }}/blog/categories/{{ page.categories[0] | downcase | replace:' ','-' }}">{{ page.categories }}</a>&nbsp;&#8212;&nbsp;{% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read
            {% if page.tags != empty %}
            <br>
            Tags: {% for tag in page.tags %} <span class="post-tags"><a href="{{ site.baseurl }}/blog/tags/{{ tag | downcase | replace:' ','-' }}">{{ tag }}</a></span> {% endfor %}
            {% endif %}
          </i>
        </div>
      </div>

      <br>

      <div class="entry">
        {{ content }}
      </div>

      {% include sharing-buttons.html %}

      {% include comments.html %}

    </article>

    <div class="corner-btn share-corner"><a href="#share-links">Share</a></div>

  </div>
</div>
