---
layout: default
---

<div class="big_container">
  <div id="main" role="main" class="container reading_container">

    <article class="post">

      <div>
        <div class="post-title">
          <h1>{{ page.title | smartify }}</h1>
        </div>
        <div class="post-subtitle">
          <strong>{{ page.subtitle }}</strong>
        </div>
        <div class="post-details">
          <i>
            {% assign readtime = page.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
            Published on {{ page.date | date: "%B %e, %Y" }} in <a href="{{ site.baseurl }}/blog/categories/{{ page.categories[0] | downcase | replace:' ','-' }}">{{ page.categories }}</a>&nbsp;&#8212;&nbsp;{% if readtime <= 1 %}1{% else %}{{ readtime }}{% endif %} min read<br>
            Tags: {% for tag in page.tags %} <span class="post-tags"><a href="{{ site.baseurl }}/blog/tags/{{ tag | downcase | replace:' ','-' }}">{{ tag }}</a></span> {% endfor %}
          </i>
        </div>
      </div>

      <br>

      <div class="entry">
        {{ content }}
      </div>

      {% include share-buttons.html %}

    </article>

    <div class="corner-btn share-corner"><a href="#share-links">Share</a></div>

  </div>
</div>
