<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.project %}{{ page.project }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    {% include head.html %}

    <link rel="stylesheet" href="/css/projects/projects.css" media="screen" type="text/css">

    {% if page.project_css %}
      {% for stylesheet in page.project_css %}
        <link rel="stylesheet" href="/css/projects/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    {% if page.project_js %}
      {% for js_file in page.project_js %}
        <script type="text/javascript" src='/js/projects/{{ js_file }}.js' defer></script>
      {% endfor %}
    {% endif %}

    {% include analytics.html %}

  </head>

  <body>

    {% include noscript.html %}

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div id="top">
            <span class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
            {% include nav.html %}
          </div>

        </header>
      </div>
    </div>

    <div class="big_container project">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
