<p>
{{ site.description }}
</p>
<p>
Currently Senior Software Engineer and DevSecOps fellow at <a href="https://cybersecurity.leonardo.com/en">Leonardo, Cyber & Security</a> division, Hybrid Cloud Applications dept.
</p>

<p>
I like to design and implement back-end business logic. CLI addicted, I spend days (and nights) in a tmux-ed zsh session. Know more <a href="{{ site.baseurl}}/about">about me</a>.
</p>

<p>
Opinions are mine, here and on social networks I post on.
</p>

<p>
<strong>I stand against inequality and racism. I can't be silent. <a href="{{ site.baseurl }}/blm">Please read this</a></strong>.
<br>
<strong>Supporting Ukraine. <a href="{{ site.baseurl }}/ukraine">Donate and act</a></strong>.
</p>

<p>
Thanks for being here, have a good read.
<br>
</p>

<!-- I'm sorry about typos you may find around. Think of them as Easter eggs, as this comment you might be reading ;) -->
