<h4>Follow me</h4>
<p>
    Below are my platforms of choice.
</p>
<ul>
    <li><a href="{{ site.data.social.twitter.url }}">Twitter</a>, where I'm mostly active</li>
    <li><a href="{{ site.baseurl}}/blog">this blog</a> (<a href="{{ site.baseurl }}/feed.xml">RSS</a>)</li>
    <li><a href="{{ site.data.social.github.url }}">GitHub</a>, for code I share.</li>
</ul>
<p>
    On the world <em>wild</em> web I'm usually <em>pirafrank</em>. Here's a full list of <a
        href="{{ site.baseurl }}/social">my social profiles</a>.
</p>
