You can do it on [Keyoxide]({{ site.data.social.keyoxide.url }}) or [Keybase]({{ site.data.social.keybase.url }}).

This domain, [GitHub]({{ site.data.social.github.url }}), [Mastodon]({{ site.data.social.mastodon.url }}), and [twitter]({{ site.data.social.twitter.url }}) are among the declared proofs.
For further verification, I keep profile pictures in sync on those websites, on Libravatar, and on [Gravatar]({{ site.data.social.gravatar.url }}).
