You can do it on [Keyoxide]({{ site.data.social.keyoxide.url }}) or [Keybase]({{ site.data.social.keybase.url }}).

This domain, [GitHub]({{ site.data.social.github.url }}) and [Mastodon]({{ site.data.social.mastodon.url }}) are among the declared proofs.
For further verification, I keep profile pictures in sync on those websites and on [Bluesky]({{ site.data.social.bluesky.url }}), [Threads]({{ site.data.social.threads.url }}), [Libravatar]({{ site.data.social.libravatar.url }}), and [Gravatar]({{ site.data.social.gravatar.url }}).
